* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-size: 1em;
    font-family: Reboto, Arial, sans-serif;
    color: #130592;
    background: #dddada;
    margin: 1rem;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}
header {
    margin: 0 auto;
    width: 650px;
    padding: 2px;
    text-align: center;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
}

.form-item.column1 label.textarea-label {
    grid-column: 1 / -1; /* span both columns */
    text-align: center;
    margin-bottom: 0.5rem;
}

.form-item.column1 textarea {
    grid-column: 1 / -1; /* span both columns */
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: block;
 }

.column1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

input[type="text"], input[type="email"], select {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-right: 1rem; /* Adds space to the right */
}

button {
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem; 
    padding: 0.5rem 1rem;
    display: block;
    width: 200px;   
}

button:hover {
    background-color: rgb(64, 219, 64);
    cursor: pointer;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc; 
    padding: 0.5rem;
}